
.projects-prev-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-prev-container{
    height: 250px;
    width: 60%;
    margin-top: 35px;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    border: 1px solid rgb(224, 221, 221); 
}

.project-prev-container:hover{
    transform: translateY(-20px);
    transition: .30s ease-in-out;
    box-shadow: 10px 10px 40px 10px rgb(141, 136, 136);
}

.project-prev-content{
    padding: 15px;
    width: 500px;
}
.project-prev-img{
    height: 100%;
    min-width: 40%;
    background-size: cover;
    background-position: center;
    background-image: url('./images/banner-pic.jpg');
}

.project-prev-title{
    color: rgb(112, 108, 108);
    font-size: 22px;
    font-weight: bold;
}

.project-prev-text{
    color: rgb(155, 150, 150);;
    margin-top: 15px;
    font-size: 18px;
    overflow: hidden;
    flex: 1;
    height: 100px;
   
    padding-bottom: 15px;
}