.App {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(165, 165, 209);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(51, 64, 250); */
  background: rgb(44, 43, 43);
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 98, 252);
} */
